@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Pahtway Gothic One", sans-serif;
}

body {
  height: 100vh;
  background-blend-mode: multiply, multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bold;
  font-size: 80px;
}

.relogio span.tempo {
  font-size: 15px;
}

.titulo {
  font-size: 60px;
  margin-bottom: 100px;
  height: 100px;
  opacity: 50%;
}

.button {
  margin-top: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
  position: static;
}

.looncrest {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}

.coldevening {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

.amycrisp {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

#loonCrest {
  color: #fff;
  font-size: larger;
  background-color: #7f7f7f;
  padding: 10px;
  border-radius: 15px;
  margin: none;
  border: 0;
  opacity: 100%;
}

#coldEvening {
  color: #fff;
  font-size: larger;
  background-color: #6b8cce;
  padding: 10px;
  border-radius: 15px;
  margin: none;
  border: 0;
}

#amyCrisp {
  color: #fff;
  font-size: larger;
  background-color: #f68084;
  padding: 10px;
  border-radius: 15px;
  margin: none;
  border: 0;
}
